$tags: (
    h1: (toRem(24), toRem(30), toRem(48), (toRem(28), toRem(35), toRem(56))),
    h2: (toRem(24), toRem(28), toRem(32), (toRem(28), toRem(34), toRem(39))),
    p1: (toRem(16), toRem(18), toRem(24), (toRem(18), toRem(21), toRem(32))),
    p2: (toRem(14), toRem(18), toRem(20), (toRem(16), toRem(21), toRem(23))),
    p3: (toRem(16), toRem(16), toRem(16), (toRem(18), toRem(18), toRem(18))),
);
